# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.suo
*.userprefs
*.booproj
*.svd
*.pdb
*.mdb

# IDEs
.vscode/
.vs/

# Python stuff
.venv/
__pycache__/

# W&B
wandb/
